{%extends "css.html"%}
{%block content%}
<head> <title>Add to base.</title> </head>
{% if form.is_valid %}
    <center>
        <form>
            <table> 
                {{form}} 
            </table>
            <DT>
                <p>
                <input type="button" 
                       class="button" 
                       value="на главную" 
              onclick="location.href='/main/'" />
                </p>
            </DT>
         </form>
     </center>

{% else %}
     <center>
         <form action = "/add_publisher_form/" 
               method = "post">
             <table> {{form}} </table>
             <p>
                 <input type  = "submit" 
                        class = "button" 
                        value = " добавить ">
             </p>
          </form>
      </center>
{% endif %}
{%endblock%}
