{%extends "css.html"%}
{%block content%}
<head> <title>Add to base.</title> </head>
{% if form.is_valid %}
    <center>
    <form action="/add_author/" method="post">
    <DT><h1> </h1></DT>
    <table class="block1"> {{form}} </table>
    <DT><h1> </h1></DT>
    <p> <input class="button" type="submit" value = " сохранить "> </p>
    <DT><p><input class="button" type="button" value="на главную" onclick="location.href='/main/'" ></p></DT>
    </form>
    </center>
{% else %}
    <center>
    <DT><h1> </h1></DT>
    <form action="/add_author_form/" method="post">{% csrf_token %}
    <table>
          
        <DT><h1> </h1><DT>
        {{form}}
 
    </table>
    <p><input  name="add" class="button" type="submit" value=" добавить "></p>
    <DT><p><input class="button" type="button" value="на главную" onclick="location.href='/main/'" ></p></DT>
    </form>
    </center>
{% endif %}
{%endblock%}
