{%extends "css.html"%}
{%block content%}
  <style type="text/css">
     .block1 { 
    background-color      : #48785f;
    color                 : #ffffff;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    font-size : 12px;
   }
.block2 { 
    border                : solid 1px #48785f;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    color                 : #000000;
    font-size             : 12px;
}
.block3 
{
    width                 : 80%;
    background-color      : #e0ffb8;
    border                : solid 3px #487858; 
    display               : inline-block;
    padding               : 10 10 30;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
}

.bord{border              : solid 3px #48785f;}
  </style>
  

 <form class="block3"> 
  <table .odd>
   <tr> 
      <td align="center" class="block1">        </td>
      <td align="center" class="block1">Имя     </td> 
      <td align="center" class="block1">Регион  </td> 
      <td align="center" class="block1">Страна  </td> 
      <td align="center" class="block1">Город   </td> 
      <td align="center" class="block1">Адрес   </td> 
      <td align="center" class="block1">Вебсайт </td>
  </tr>
      {% for publisher in publishers.object_list %}
       <tr >
       <td class="block2">{{forloop.counter}}     </td>
	   <td class="block2">{{publisher.name}}           </td>
	   <td class="block2">{{publisher.state_province}} </td>
	   <td class="block2">{{publisher.country}}        </td>
	   <td class="block2">{{publisher.city}}           </td>
	   <td class="block2">{{publisher.address}}        </td>
	   <td class="block2">{{publisher.website}}        </td>
      </tr>
      {%endfor%}
  </table>
      <DT><p> </p></DT>
      <DT><p> </p></DT>

  <form action="/publisher_list/" method="post">
    <tr>
        {% if publishers.has_previous %}
            <td><a class = "button" href="?page={{ publishers.previous_page_number }}"> << </a>
        {% endif %}
    </tr>
    <tr><td><p>{{ publishers.number }} ... {{ publishers.paginator.num_pages }}</p></td></tr>
    <tr>
        {% if publishers.has_next %}
            <td><a class = "button" href="?page={{ publishers.next_page_number }}" > >>  </a>
        {% endif %}
    </tr>


    <div>
         <div><table><tr><p></p><td></td></tr></table></div>
         <div><table><tr><p></p><td></td></tr></table></div>
         <div><table><tr><p></p><td></td></tr></table></div>
         <td><input type = "button" class = "button" value = "на главную" onclick = "location.href='/main/'" /></td>
      </div>
   </tr>
  </form>

</div>
{%endblock%}







